.consoles-style{
    display: inline-block;
    margin-right: 10px;
}
.consoles-style > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.newclass{
    font-size: 15px !important;
    color: #2575dc;
    border: 2px solid transparent !important;
    margin-bottom: 0 !important;
    display: inline-block;
    border-radius: 30px;
    padding: 0;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}
.consoles-style > input:checked + i{
    border: 2px solid #2575dc!important;
}
.main-home-page-style{}
.main-home-custom-css{
    display: inline-block;
}
.main-home-custom-css .console-selection {
    float: left;
    /*margin-top: 2em;*/
    /*margin-right: 2em;*/
}
.main-home-custom-css .username-selection{
    float: left;
}
.submit-btn-custom{
    float: right;
    margin-left: 1em;
}
.submit-btn-custom button {
    background: #327dde;
    border: none;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}
.username-textbox-custom{
    width: 28em;
}

.custom-table-style{

}
.custom-table-style ul {
    list-style: none;
    float: left;
    background: #292929;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.custom-table-style ul li{
    float: left;
    padding: 25px;
}
.custom-table-style ul li h5 {
    color: #9a9a9a;
    font-size: 20px;
    font-weight: bold;
}
.post-carousel .badge{
    right: 60px;
}
.card .card-img .badge{
    left: 10px;
}
.custom-table-style ul li p{

}
@media (max-width: 991px){
    .hidden-md-down {
         display: block !important;
    }
}
.custom-table-style {
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 2em;
    overflow: hidden;
}
.crowsal-form-custom {
    text-align: center;
    z-index: 1;
}
.fortnite-logo-custom{
    max-width: 40%;
}
.logo-custom{
    height: auto !important;
    margin-right: 0px !important;
}
.main-section-stats{
    background: #1f1f1f;
}
.recent-matches-custom{

}
.recent-matches-custom ul{}
.recent-matches-custom ul li{
    padding-right: 2em;
    padding-left: 2em;
}
.statis-heading{
    color: #eee;
    font-weight: bold;
    font-size: 25px;
}
@media (max-width: 576px){
    .fortnite-logo-custom {
        max-width: 18%;
    }
}
@media (max-width: 650px){
    .username-textbox-custom{
        width: 15em;
    }
    .crowsal-form-custom{
        /*top: -13em;*/
    }
}
@media (max-width: 450px){
    .username-textbox-custom{
        width: 9em;
    }
}
.main-home-inverse-section-custom{
    background: transparent !important;
}
#footer .custom-footer-social a{
    font-size: 30px;
}
.arrow {
    text-align: center;
    /*margin: 8% 0;*/
    position: relative;
    top: 12em;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.custom-specs-styling{}
.custom-specs-styling tbody{}
.custom-specs-styling tbody tr{}
.custom-specs-styling tbody tr td{}
.custom-specs-styling thead{}
.custom-specs-styling thead tr{}
.custom-specs-styling thead tr th{}

.map-main {
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 80%;
}
#map{
    width: 1200px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #292929;
}
.map-class{}

.new_table_title {
    font-size: 12px;
    margin: 0px;
    font-weight: bolder;
    color: #8E7E7E;
}
.new_table_description {
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
}
.user_stats_table {
    background-color: #474545 !important;
    border: 0px !important;
    padding: 12px !important;
}
.custom_hr {
    background-color: #8C8B8B;
    height: 1px;
    border: 0;
    margin-top: 0px;
    margin-bottom: 5px;
}
.solo_heading_bg{
    background-color: #17c2fe;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.duos_heading_bg{
    background-color: #5cfc7b;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.squads_heading_bg{
    background-color: #c272d9;
    margin: 0px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#header .logo{
    padding: 0 0;
}
@media (max-width: 510px){
    .custom-table-style {
        margin-left: 3em !important;
        margin-right: 3em !important;
    }
    .custom-table-style ul li p{
        font-size: 12px !important;
    }
    .custom-table-style ul li h5{
        font-size: 12px !important;
    }
    .custom-table-style ul li{
        padding: 15px !important;
    }
    .map-main{
        display: block;
    }
    #map{
        width: 400px;
    }
    .custom-specs-styling tbody tr td {
        font-size: 10px;
        text-align: center;
        padding: 8px 4px;
    }
    .badge-custom {
        font-size: 8px;
        padding: 6px;
    }
    .custom_widget_item a{
        margin-left: 5px;
        margin-right: 5px;
    }
    .rarity_custom_ul ul{}
    .rarity_custom_ul ul li{
        margin-top: 10px;
    }
    .custom-settings{
        padding-left: 20px !important;
    }
    .disqus_comments_lightbox_media{
        display: none;
    }
    .lightbox-title, .lightbox-obtained, .lightbox-type, .lightbox-rarity{
        font-size: 10px !important;
        margin-right: 10px !important;
    }
    .lightbox .lightbox-block .lightbox-comment {
        padding: 10px 45px;
    }
    .lightbox .lightbox-block{
        display: grid !important;
    }
    #title_cosmetics, #type_cosmetics, #type_cosmetics, #rarity_cosmetics, #obtained_cosmetics{
        font-size: 12px;
    }

}
@media (max-width: 992px){
    .custom-table-style {
        margin-left: 8em;
        margin-right: 8em;
    }
    .custom-table-style ul li p {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .custom-table-style ul li h5{
        font-size: 15px;
    }
    .custom-table-style ul li{
        padding: 10px;
    }
}

.custom_entry_content{

}
.entry-title{

}

.blog_detail_custom{
    /*padding: 5em;*/
    text-align: center !important;
}
.blog_detail_custom img{
    /*max-width: 25%;*/
}
.post .post-title, .post .post-meta{
    text-align: left;
}
.entry-content{

}
.entry-content p{
    /*width: 60%;*/
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
}
.entry-widgets, #pingbacks, #trackbacks, #comments, #comment-form{
    display: none;
}

.secondary-banner-rarity {
    position: relative !important;
    float: right;
    margin-right: 38px !important;
    font-size: 9px;
    margin-top: -13px;
}
.close_custom{
    top: 10px !important;
}
.lightbox .lightbox-block .lightbox-img img{
    max-width: 80%;
    /*position: relative;*/
    /*left: 15px;*/
    z-index: -1;
}
.lightbox .lightbox-block .lightbox-img{
    vertical-align: middle;
}
.lightbox-title, .lightbox-obtained, .lightbox-type, .lightbox-rarity{
    font-weight: 900;
    color: black;
    float: left;
    font-size: 16px;
    margin-right: 20px;

}
#title_cosmetics, #type_cosmetics, #type_cosmetics, #rartiy_cosmetics, #obtained_cosmetics{
    color: darkgray;
    font-size: 16px;
}
.lightbox-all{
    margin-top: 5px;
    margin-bottom: 20px;
}
.main-home-inverse-section-custom{
    /*height: 650px;*/
}
.custom_blog_set{
    text-align: center;
}
.blog_p_set_homepage {
    /*width: 40%;*/
    margin: 0 auto;
    text-align: left;
}
.blog_homepage{}
.custom-settings{
    padding-left: 112px;
}
#map_filters {
    float: right;
    /*z-index: 9999;*/
    display: inline-table;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
    position: relative;
    top: 5em;
    right: 10em;
    padding: 8px;
    padding-right: 30px;
}
/*.admin_map_filter{*/

/*}*/
#map_filters label{
    font-size: 12px;
    text-align: left;
}
#map_filters input{
    float: left;
    margin-top: 3px;
    margin-right: 8px;
}
@media (max-width: 1600px) {
    .lightbox .lightbox-block .lightbox-video {
        max-width: 800px;
    }
}
.post{
    /*width: 80%;*/
    /*margin: 0 auto;*/
    /*border-bottom: 0px;*/
}
.custom_blog_set_finale {
    /*width: 40%;*/
    margin: 0 auto;
    text-align: left;
}
.custom_detail_zinnia{
    max-width: 60%;
    margin: 0 auto;
    text-align: left;
}
.weapon_specs_custom_set{
    padding-top: 0px !important;
}
.weapon_specs_custom_sidebar_set{
    height: auto !important;
}
.custom_padding_first-p-t-30-specs-weapons{
    padding-bottom: 0px;
}
.blog_comment_custom_set{}
.customeee{
    margin: 0 auto;
}
.weapons_size_custom_set{
   max-width: 70% !important;
    /*width:450px;*/
    /*height:225px;*/
}
.card-main-div-set{
    text-align: center!important;
}
.cosmetic_main_banner_settings{
    max-width: 55%!important;
    margin: 0 auto;
}
.post-carousal-custom-settings{
    height: 330px;
    /*text-align: center;*/
}
.sec_banner_custom_set{
    /*max-width: 70%;*/
}
