{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="description" content="Fortnite Go Stats">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Fortnite Go</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/dropPin.css' %}" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/animate/animate.min.css' %}">
        <!-- plugins css -->
        <link href="{% static 'plugins/owl-carousel/css/owl.carousel.min.css' %}" rel="stylesheet">
        <!-- theme css -->
        <link rel="stylesheet" href="{% static '/css/theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href={% static 'plugins/leaflet/leaflet.css' %} />
        <link rel="icon" href="{% static 'img/logo.png' %}" sizes="48x48" />

    {% endblock %}

</head>

<body class="fixed-header">
  <!-- header -->
  {% block header %}
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="/" class="logo logo-custom"><img src="{% static 'img/logo.png' %}" class="fortnite-logo-custom" alt="Fortnite Go - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/fortnite/weapons">Weapons</a></li>
                  <li><a href="/fortnite/blog">Updates</a></li>
                  <li><a href="/fortnite/cosmetics">Cosmetics</a></li>
                  <li><a href="/fortnite/map">Map</a></li>
                  <li><a href="/fortnite/media">Media</a></li>
{#                  <li><a href="/app">App</a></li>#}
{#                  <li><a href="/items">Items</a></li>#}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}
  <!-- /header -->

{% block content %}
  {% endblock %}
    {% block footer %}
  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Fortnite Go</h4>
          <p>Fortnite Go is a Bootstrap Gaming theme. Build your own gaming theme with Fortnite Go and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="footer-social custom-footer-social">
              <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fab fa-steam"></i></a>
              <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fab fa-twitch"></i></a>
              <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2018 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Fortnite Go</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  {% endblock %}

    {% block js %}

  <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'plugins/popper/popper.min.js'%}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/lightbox/lightbox.js'%}"></script>
    <script>
        (function($) {
            "use strict";
              // lightbox
              $('[data-lightbox]').lightbox({
                disqus: 'gameforestyakuzieu'
              });
            })(jQuery);
    </script>
  <script src="{% static 'plugins/owl-carousel/js/owl.carousel.min.js'%}"></script>
  <script>

    (function($) {
      "use strict";

      // Full Width Carousel
      $('.owl-slide').owlCarousel({
        nav: true,
        //loop: true,
        //autoplay: true,
        items: 1
      });

      // Recent Reviews
      $('.owl-list').owlCarousel({
        margin: 25,
        nav: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          500: {
            items: 2
          },
          701: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });

      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>
        <script src="{% static 'plugins/leaflet/leaflet.js' %}"></script>

        <script>

            var shopping_filter = $("input[name=shopping]:checked").val();
            var machines_filter = $("input[name=machines]:checked").val();
            var ammo_filter = $("input[name=ammo]:checked").val();

        $(function(){
            var map = L.map('map', {
                crs: L.CRS.Simple,
                minZoom: -1,
                maxZoom: 4,
                center: [0, 0],
                pin: false,
                zoom: 0
            });
            var loots = L.icon({
                iconUrl: '{% static 'img/map/chest.png' %}',
                iconSize:     [30, 30], // size of the icon
                iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            });
            var machines = L.icon({
                iconUrl: '{% static 'img/map/vending.png' %}',
                iconSize:     [30, 30], // size of the icon
                iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            });
            var ammo = L.icon({
                iconUrl: '{% static 'img/map/ammo.png' %}',
                iconSize:     [30, 30], // size of the icon
                iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            });
            var shopping = L.icon({
                iconUrl: '{% static 'img/map/cart.png' %}',
                iconSize:     [30, 30], // size of the icon
                iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            });
            var default_pin = L.icon({
                iconUrl: '{% static 'img/map/defaultpin.png' %}',
                iconSize:     [30, 30], // size of the icon
                iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            });
            var bounds = [[0,0], [1200,1200]];
            var image = L.imageOverlay('{{ map_image.image.url }}', bounds).addTo(map);
            map.fitBounds(bounds);

        var clockTorontoElement = L.DomUtil.get("map_filters"),
        zones = [
          {
            element: clockTorontoElement, // Using the HTML Element for now.
            width: parseInt(window.getComputedStyle(clockTorontoElement, null).getPropertyValue("width"), 10),
            //area: L.latLngBounds([100, 200], [300, 400]) // Using L.latLngBounds for now.
          },
        ];
            {% if request.user.is_superuser %}
                map.on('click', function(e){
                    var radioValue = $("input[name=chests]:checked").val();
                    var newMarker;
                    if (radioValue != undefined)
                    {
                        if (radioValue == 'ammo')
                            newMarker = L.marker([e.latlng.lat, e.latlng.lng], {icon: ammo}).addTo(map);
                        else if (radioValue == 'machines')
                            newMarker = L.marker([e.latlng.lat, e.latlng.lng], {icon: machines}).addTo(map);
                        else if (radioValue == 'shopping')
                            newMarker = L.marker([e.latlng.lat, e.latlng.lng], {icon: shopping}).addTo(map);
                        else if (radioValue == 'loot')
                            newMarker = L.marker([e.latlng.lat, e.latlng.lng], {icon: loots}).addTo(map);
                    }
                    var URL = "{% url 'fortniteApp:map' %}";
                    //var newMarker = new L.marker(e.latlng).addTo(map);
                    var data = {'x_cord': newMarker._latlng.lng, 'y_cord': newMarker._latlng.lat, 'icon_name': radioValue};
                    $.post(URL, data, function(response){
                        if(response === 'success'){
                            console.log('Yay!');
                        }
                    });
                });
            {% endif %}

            {% if request.user.is_superuser %}
                var markers = [];
                {% for pin in marked_locations %}
                    if (markers.length < 1) id = 0;
                    else id = markers[markers.length - 1]._id + 1;
                    var popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';

                    var icon_code = {{ pin.icon_code }}
                    if (icon_code == 4)
                        myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: ammo});
                    else if (icon_code == 2)
                        myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: machines});
                    else if (icon_code == 3)
                        myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: shopping});
                    else if (icon_code == 1)
                        myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: loots});
                    else
                        myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: default_pin});

                    myMarker._id = {{ pin.id }};
                    var myPopup = myMarker.bindPopup(popupContent, {
                        closeButton: false
                    });
                    map.addLayer(myMarker);
                    markers.push(myMarker);
                {% endfor %}

                {% else %}

                var markers_loot = [], popupContent, myPopup;
                // For first time checked show
                var loots_filter = $("input[name=loots]:checked").val();
                if (loots_filter !=undefined){
                     {% for pin in marked_locations %}
                            {% if pin.icon_code == 1%}
                                if (markers_loot.length < 1) id = 0;
                                else id = markers_loot[markers_loot.length - 1]._id + 1;
                                popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';
                                myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: loots});

                                myMarker._id = {{ pin.id }};
                                {% if request.user.is_superuser %}
                                    myPopup = myMarker.bindPopup(popupContent, {
                                        closeButton: false
                                    });
                                {% endif %}

                                map.addLayer(myMarker);
                                markers_loot.push(myMarker);

                            {% endif %}
                        {% endfor %}
                }
                $('#loot_id').click(function () {
                    if($(this).prop("checked") == true){
                        {% for pin in marked_locations %}
                            {% if pin.icon_code == 1%}
                                if (markers_loot.length < 1) id = 0;
                                else id = markers_loot[markers_loot.length - 1]._id + 1;
                                popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';

                                myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: loots});

                                myMarker._id = {{ pin.id }};
                                {% if request.user.is_superuser %}
                                    myPopup = myMarker.bindPopup(popupContent, {
                                        closeButton: false
                                    });
                                {% endif %}
                                map.addLayer(myMarker);
                                markers_loot.push(myMarker);

                            {% endif %}
                        {% endfor %}
                    } else if($(this).prop("checked") == false) {
                        {% for pin in marked_locations %}
                            {% if pin.icon_code == 1%}
                                markers_loot.forEach(function(marker) {
                                    map.removeLayer(marker);
                            });
                            {% endif %}
                        {% endfor %}
                    }
               });
                var markers_shopping = [], popupContent, myPopup;
               $('#shopping_id').click(function () {
                    var loots_filter = $("input[name=shopping]:checked").val();
                    if($(this).prop("checked") == true){
                    {% for pin in marked_locations %}
                        {% if pin.icon_code == 2%}
                            if (markers_shopping.length < 1) id = 0;
                            else id = markers_shopping[markers_shopping.length - 1]._id + 1;
                            var popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';

                            myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: shopping});

                            myMarker._id = {{ pin.id }};

                            {% if request.user.is_superuser %}
                                    myPopup = myMarker.bindPopup(popupContent, {
                                        closeButton: false
                                    });
                                {% endif %}
                            map.addLayer(myMarker);
                            markers_shopping.push(myMarker);
                        {% endif %}

                    {% endfor %}
                    } else if($(this).prop("checked") == false) {
                        {% for pin in marked_locations %}
                            {% if pin.icon_code == 2%}
                                markers_shopping.forEach(function(marker) {
                                    map.removeLayer(marker);
                            });
                            {% endif %}
                        {% endfor %}
                    }
               });
               var markers_ammo = [], popupContent, myPopup;
               $('#ammo_id').click(function () {
                    var loots_filter = $("input[name=ammo]:checked").val();
                    if($(this).prop("checked") == true){
                    {% for pin in marked_locations %}
                        {% if pin.icon_code == 3%}
                            if (markers_ammo.length < 1) id = 0;
                            else id = markers_ammo[markers_ammo.length - 1]._id + 1;
                            var popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';

                            myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: ammo});

                            myMarker._id = {{ pin.id }};
                            {% if request.user.is_superuser %}
                                myPopup = myMarker.bindPopup(popupContent, {
                                    closeButton: false
                                });
                            {% endif %}
                            map.addLayer(myMarker);
                            markers_ammo.push(myMarker);
                        {% endif %}

                    {% endfor %}
                    } else if($(this).prop("checked") == false) {
                        {% for pin in marked_locations %}
                            {% if pin.icon_code == 3%}
                                markers_ammo.forEach(function(marker) {
                                    map.removeLayer(marker);
                            });
                            {% endif %}
                        {% endfor %}
                    }
               });
               var markers_machines = [], popupContent, myPopup;
               $('#machines_id').click(function () {
                    var loots_filter = $("input[name=machines]:checked").val();
                    if($(this).prop("checked") == true){
                    {% for pin in marked_locations %}
                        {% if pin.icon_code == 4%}
                            if (markers_machines.length < 1) id = 0;
                            else id = markers_machines[markers_machines.length - 1]._id + 1;
                            var popupContent = '<button value="{{ pin.id }}" id="pin-custom-id")">Remove Marker</button>';

                            myMarker = L.marker([{{ pin.ycoord }}, {{ pin.xcoord }}], {icon: machines});

                            myMarker._id = {{ pin.id }};
                            {% if request.user.is_superuser %}
                                myPopup = myMarker.bindPopup(popupContent, {
                                    closeButton: false
                                });
                            {% endif %}
                            map.addLayer(myMarker);
                            markers_machines.push(myMarker);
                        {% endif %}

                    {% endfor %}
                    } else if($(this).prop("checked") == false) {
                        {% for pin in marked_locations %}
                            {% if pin.icon_code == 4%}
                                markers_machines.forEach(function(marker) {
                                    map.removeLayer(marker);
                            });
                            {% endif %}
                        {% endfor %}
                    }
               });

            {% endif %}

        //Deletion of marked point
            {% if request.user.is_superuser %}
                $(document).on("click","#pin-custom-id",function() {
                    var current_pin_id = parseInt($(this).val());
                    var URL = "{% url 'fortniteApp:map' %}";
                    markers.forEach(function(marker) {
                        if (marker._id == current_pin_id){
                            var data = {'remove': 1, 'marker_id': marker._id};
                            map.removeLayer(marker);
                            $.post(URL, data, function(response){
                                if(response === 'success'){
                                    console.log('Yay!');
                                }
                            });
                        }
                    });
                });
            {% endif %}
        });


        </script>
    {% endblock %}
</body>
</html>


