{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Fortnite Go</title>
    {% block css %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/animate/animate.min.css' %}">
        <!-- plugins css -->
        <link href="{% static 'plugins/owl-carousel/css/owl.carousel.min.css' %}" rel="stylesheet">
        <!-- theme css -->
        <link rel="stylesheet" href="{% static '/css/theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

    {% endblock %}

</head>

<body class="fixed-header">
  <!-- header -->
  {% block header %}
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="/" class="logo logo-custom"><img src="{% static 'img/logo.png' %}" class="fortnite-logo-custom" alt="Fortnite Go - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/fortnite/weapons">Weapons</a></li>
                  <li><a href="/fortnite/blog">Updates</a></li>
                  <li><a href="/fortnite/cosmetics">Cosmetics</a></li>
                  <li><a href="/map">Map</a></li>
                  <li><a href="/media">Media</a></li>
                  <li><a href="/app">App</a></li>
                  <li><a href="/items">Items</a></li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  {% endblock %}
  <!-- /header -->

{% block content %}
  {% endblock %}
    {% block footer %}
  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Fortnite Go</h4>
          <p>Fortnite Go is a Bootstrap Gaming theme. Build your own gaming theme with Fortnite Go and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Fortnite Go</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  {% endblock %}

    {% block js %}

  <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'plugins/popper/popper.min.js'%}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/lightbox/lightbox.js'%}"></script>
    <script>
        (function($) {
            "use strict";
              // lightbox
              $('[data-lightbox]').lightbox({
                disqus: 'gameforestyakuzieu'
              });
            })(jQuery);
    </script>
  <script src="{% static 'plugins/owl-carousel/js/owl.carousel.min.js'%}"></script>
  <script>

    (function($) {
      "use strict";

      // Full Width Carousel
      $('.owl-slide').owlCarousel({
        nav: true,
        loop: true,
        autoplay: true,
        items: 1
      });

      // Recent Reviews
      $('.owl-list').owlCarousel({
        margin: 25,
        nav: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          500: {
            items: 2
          },
          701: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });

      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>
    {% endblock %}
</body>
</html>


