<head>
  <title>Cosmetics</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="p-y-5">
    <div class="owl-carousel owl-posts">
        {% if banners %}
          {% for banner in banners  %}
              <div class="post-carousel">
              <div class="text-block">
                <p class="banner{{ banner.id }}  top-left" style="font-size:20px; color: red; position: absolute;padding: 5px; font-weight: bold; border: 1px solid red;margin: 20px; border-radius: 10px"></p>
              </div>
                <a href="{{ banner.image.url }}" data-lightbox='{ "gallery": "cosmetics_banners"}' ><img style="width: 700px; height: 350px" src="{{ banner.image.url }}" alt=""></a>
                  {% if banner.rarity == 'COMMON' %}
                    <span class="badge badge-secondary">{{ banner.rarity }}</span>
                  {% elif banner.rarity == 'UNCOMMON' %}
                    <span class="badge badge-success">{{ banner.rarity }}</span>
                  {% elif banner.rarity == 'RARE' %}
                    <span class="badge badge-info">{{ banner.rarity }}</span>
                  {% elif banner.rarity == 'EPIC' %}
                    <span class="badge badge-warning" style="background-color: purple">{{ banner.rarity }}</span>
                  {% elif banner.rarity == 'LEGENDARY' %}
                    <span class="badge badge-warning">{{ banner.rarity }}</span>
                  {% endif %}
                <div class="post-block">
                  <div class="post-caption">
                    <h2 class="post-title">
                      <a href="{{ banner.image.url }}" data-lightbox='{"gallery": "cosmetics_banners"}'>{{ banner.title }}</a>
                    </h2>
                    <div class="post-meta">
                      <span><i class="fa fa-clock-o"></i>{{ banner.created_at }}</span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <h4>No Banner Found</h4>
        {% endif %}
    </div>
</section>

<section class="bg-secondary p-t-15 p-b-5 p-x-15">
<div class="owl-carousel owl-videos">
    {% if secondaryBanner %}
        {% for secondary_banner in secondaryBanner %}
        <div class="card card-video">
            <div class="card-img">
                <div class="text-block">
                <p class="sec_banner{{ secondary_banner.id }}" style="font-size:10px; color: #f8f9fa; position: absolute;padding-left: 3px; padding-right: 3px; margin: 12px; font-weight: bold; border: 1px solid white; border-radius: 7px"></p>
              </div>
              <a href="{{ secondary_banner.image.url }}" data-lightbox='{"gallery": "cosmetics_images"}'>
              <img src="{{ secondary_banner.image.url }}" style="height: 125px; width: 200px">
            </a>
                {% if secondary_banner.rarity == 'COMMON' %}
                    <span class="badge badge-secondary secondary-banner-rarity">{{ secondary_banner.rarity }}</span>
                  {% elif secondary_banner.rarity == 'UNCOMMON' %}
                    <span class="badge badge-success secondary-banner-rarity">{{ secondary_banner.rarity }}</span>
                  {% elif secondary_banner.rarity == 'RARE' %}
                    <span class="badge badge-info secondary-banner-rarity">{{ secondary_banner.rarity }}</span>
                  {% elif secondary_banner.rarity == 'EPIC' %}
                    <span class="badge badge-warning secondary-banner-rarity" style="background-color: purple">{{ secondary_banner.rarity }}</span>
                  {% elif secondary_banner.rarity == 'LEGENDARY' %}
                    <span class="badge badge-warning secondary-banner-rarity">{{ secondary_banner.rarity }}</span>
                  {% endif %}
            </div>
            <div class="card-block" style="margin-bottom: 30px">
              <h4 class="card-title"><a href="{{ secondary_banner.image.url }}" data-lightbox='{"gallery": "cosmetics_images"}'>{{ secondary_banner.title }}</a></h4>
            </div>
          </div>
    {% endfor %}
     {% else %}
        <h4>No Secondary Banner Found</h4>
    {% endif %}

</div>
</section>

<section class="toolbar toolbar-links">
    <div class="container">
      <h5>Cosmetics <span>({{ cosmetics|length }})</span></h5>
      <div class="dropdown float-right">
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item active" href="#">Recent</a>
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">Platforms</a>
        </div>
      </div>
      <ul class="toolbar-nav hidden-md-down m-r-25">
        <li><a href="game-post.html">Articles</a></li>
        <li><a href="reviews.html">Reviews</a></li>
        <li class="active"><a href="gallery.html">Images</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Streams</a></li>
        <li><a href="#">Cheats &amp; Guides</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
    </div>
</section>

<section>
    <div class="container">

      <div class="row row-3 figure-effect">
      {% if cosmetics %}
          {% for cosmetic in cosmetics  %}
                <div class="col-12 col-sm-6 col-md-4">
                  <figure>
                    <div class="figure-img">
                      <a href="{{ cosmetic.image.url }}" data-lightbox='{ "gallery": "cosmetics_images", "disqus": true, "title": "{{ cosmetic.title }}", "description": "{{ cosmetic.decsription }}"}'>
                        <img src="{{ cosmetic.image.url }}" alt="">
                    </a>
                    </div>
                  </figure>
                </div>
            {% endfor %}
          {% else %}
                <h4>Currently No Item found</h4>
      {% endif %}
      </div>
    </div>
</section>
{% endblock %}
{% block js %}
    <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/lightbox/lightbox.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // lightbox
      $('[data-lightbox]').lightbox({
        disqus: 'gameforestyakuzieu'
      });
    })(jQuery);

  </script>

     <!-- plugins js -->
  <script src="{% static 'plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // owl carousel
      $('.owl-posts').owlCarousel({
        margin: 5,
        loop: true,
        dots: false,
        autoplay: true,
        responsive: {
          0: {
            items: 1
          },
          1024: {
            items: 1,
            center: false
          },
          1200: {
            items: 2,
            center: true
          }
        }
      });

      $('.owl-videos').owlCarousel({
        margin: 15,
        loop: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          700: {
            items: 2
          },
          800: {
            items: 3
          },
          1000: {
            items: 4
          },
          1200: {
            items: 6
          }
        }
      });
    })(jQuery);

  </script>
    <script>
        // Set the date we're counting down to

        {% if banners %}
            {% for banner in banners %}
                myFunction("{{ banner.expiry_date|escapejs }}","banner{{ banner.id }}");
            {% endfor %}
        {% endif %}

        {% if secondaryBanner %}
            {% for secondary_banner in secondaryBanner %}
                myFunction("{{ secondary_banner.expiry_date|escapejs }}","sec_banner{{ secondary_banner.id }}");
            {% endfor %}
        {% endif %}

        {#myFunction( "2018-05-31 06:00:00+00:00","banner1");#}
        {#myFunction( "2018-05-26 12:00:00+00:00","banner2");#}

        function myFunction(date,id) {
            var countDownDate = new Date(date).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            {#document.getElementsByClassName(id).innerHTML = days + "d " + hours + "h "#}
            {#+ minutes + "m " + seconds + "s ";#}
             $("body").find('.' + id).html(days + "d " + hours + "h " + minutes + "m " + seconds + "s ");

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementsByClassName(id).innerHTML = "EXPIRED";
            }
        }, 200);
    return true;
}

</script>


  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>
{% endblock %}