{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- main -->
  <section class="bg-inverse p-y-0 main-home-inverse-section-custom">
    <div class="owl-carousel owl-slide full-height">
{#      <div class="carousel-item" style="background-image: url({% static 'img/carousel/carousel-1.jpg' %});">#}
{#        <div class="carousel-overlay"></div>#}
{#        <div class="carousel-caption">#}
{#          <div>#}
{#            <h3 class="carousel-title">FortNite Stats</h3>#}
{#            <p>FortNite Stats</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="carousel-item" style="background-image: url({% static 'img/carousel/carousel-3.png' %});">#}
{#        <div class="carousel-overlay"></div>#}
{#        <div class="carousel-caption">#}
{#          <div>#}
{#            <h3 class="carousel-title">The Last of Us: Remastered</h3>#}
{#            <p>FortNite Stats</p>#}
{#            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=W2Wnvvj33Wo" data-lightbox role="button">Watch Gameplay</a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="carousel-item" style="background-image: url({% static 'img/carousel/carousel-2.jpg' %});">
        <div class="carousel-overlay"></div>
        <div class="carousel-caption">
          <div>
{#            <h3 class="carousel-title">For Honor: The Berserker</h3>#}
{#            <p>FortNite Stats</p>#}
{#            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=zFUymXnQ5z8" data-lightbox role="button">Watch Gameplay</a>#}
          </div>
        </div>
      </div>
    </div>
  <div class="main-home-page-style crowsal-form-custom">
      <h3 style="color: white">Fortnite Stats</h3>
      <form method="get">

          <div class="main-home-custom-css">
              <div class="console-selection">

                    <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="xbl" />
                        <i class="fab fa-xbox newclass"></i>
                    </label>

                      <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="psn" />
                        <i class="fab fa-playstation newclass"></i>
                    </label>

                    <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="pc" />
                        <i class="fab fa-windows newclass"></i>
                    </label>
              </div>
              <div class="username-selection">
                  <input type="text" name="username" class="form-control username-textbox-custom" placeholder="Username">
              </div>
              <div class="submit-btn-custom">
                  <button type="submit">Go</button>
              </div>
          </div>
      </form>
  </div>
  </section>
    <section class="p-t-35">
    <div class="container">
      <div class="row">

          <div class="post">
                <h2 class="post-title"><a href="{{ entree.short_url }}">{{ entree.title }}</a></h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i>Published Date: {{ entree.publication_date }}</span>
                  <span><a href="blog-post.html#comments"><i class="fa fa-comment-o"></i> {{ entree.comments.count }} comments</a></span>
                </div>
                <div class="post-thumbnail">
                  {% if entree.image %}
                    <img style="width: 60%;" src="{{ entree.image.url }}" alt="{{ entree.lead }}">
                  {% else %}
                      <h5 style="font-style: italic;">No Image Attached in Blog</h5>
                  {% endif %}
                </div>
                <p>{{ entree.content }}</p>
          </div>

          <!-- post -->
{#          <div class="post">#}
{#            <h2 class="post-title"><a href="blog-post-video.html">Dead Island 2 Official E3 Announce Gameplay Trailer</a></h2>#}
{#            <div class="post-meta">#}
{#              <span><i class="fa fa-clock-o"></i> May 22, 2017 by <a href="profile.html">Lobo</a></span>#}
{#              <span><a href="blog-post-video.html#comments"><i class="fa fa-comment-o"></i> 33 comments</a></span>#}
{#            </div>#}
{#            <div class="post-thumbnail">#}
{#              <div class="video-play" data-src="https://www.youtube.com/embed/ST262ZbNcos?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">#}
{#                <div class="embed-responsive embed-responsive-16by9">#}
{#                  <img class="embed-responsive-item" src="https://img.youtube.com/vi/tklQ47Hpfxw/maxresdefault.jpg">#}
{#                  <div class="video-play-icon"><i class="fa fa-play"></i></div>#}
{#                </div>#}
{#              </div>#}
{#              <span class="badge badge-steam">Steam</span>#}
{#            </div>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elit ante, congue sodales orci ac, ultrices pretium lectus. Maecenas lorem enim, dignissim sed lacus non, feugiat iaculis lorem. Integer eu aliquet diam. Suspendisse fringilla#}
{#              porta justo, vel tempus risus. Ut et enim sit amet libero fermentum aliquam et ut sem.</p>#}
{#          </div>#}
          <!-- /.post -->
        </div>
      </div>
  </section>

  {% endblock %}


