{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="bg-inverse p-y-0 main-home-inverse-section-custom">
    <div class="owl-carousel owl-slide full-height">
      <div class="carousel-item" style="background-image: url('{{ home_banner.image.url }}');">
        <div class="carousel-overlay"></div>
        <div class="carousel-caption">
          <div>
          </div>
        </div>
      </div>
    </div>
  <div class="main-home-page-style crowsal-form-custom">
      <h3 style="color: white">Fortnite Stats</h3>
      <form method="get">

          <div class="main-home-custom-css">
              <div class="console-selection">

                    <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="xb1" />
                        <i class="fab fa-xbox newclass"></i>
                    </label>

                      <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="ps4" />
                        <i class="fab fa-playstation newclass"></i>
                    </label>

                    <label class="layersMenu consoles-style">
                        <input type="radio" name="platform" value="pc" />
                        <i class="fab fa-windows newclass"></i>
                    </label>
              </div>
              <div class="username-selection">
                  <input type="text" name="username" class="form-control username-textbox-custom" placeholder="Username" required>
              </div>
              <div class="submit-btn-custom">
                  <button type="submit">Go</button>
              </div>
          </div>
      </form>
      <div style="text-align: center">
          {% if validation_error %}
                    <h4 style="color: red; margin-left: 70px;">{{ validation_error }}</h4>
          {% endif %}
      </div>
      <div class="arrow bounce">
          <a class="fa fa-arrow-down fa-2x" id="arrow_down" href="#scroll"></a>
      </div>
  </div>
  </section>
    <section class="p-t-35 custom_blog_set" id="scroll">
    <div class="container">
      <div class="row">

          <div class="post">
                <h2 class="post-title"><a href="{% url 'fortniteApp:homeblog' blog_id=entree.id %}">{{ entree.title }}</a></h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i>Published Date: {{ entree.created_at }}</span>
                </div>
                <div class="post-thumbnail">
                  {% if entree.image %}
                    <img style="width: 60%;" src="{{ entree.image.url }}" alt="{{ entree.title }}">
                  {% else %}
                      <h5 style="font-style: italic;">No Image Attached in Blog</h5>
                  {% endif %}
                </div>
            <div class="blog_homepage">
                <p class="blog_p_set_homepage">{{ entree.description }}</p>
              </div>
          </div>
        </div>
      </div>
  </section>

  {% endblock %}


