<head xmlns="http://www.w3.org/1999/html">
  <title>Map</title>
    <meta name="keywords" content="fortnite, map, fortnitego">
    <meta name="description" content="fortnite map">
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="map-main">
        <div id="map"></div>

        {% if request.user.is_superuser %}

            <div id="map_filters" class="leaflet-control">
             <form method="get">
                <input type="radio" name="chests" value="loot" checked/>
                <label for="male">Loot Chests</label>

                <input type="radio" name="chests" value="shopping"/>
                  <label for="male">Shopping Carts</label>

                <input type="radio" name="chests" value="ammo"/>
                <label for="male"> Ammo Crates</label>

                <input type="radio" name="chests" value="machines" />
                <label for="male"> Vending Machines</label>
             </form>
        </div>

        {% else %}
            <div  id="map_filters" class="leaflet-control">
            <input type="checkbox" name="loots" value="1" id="loot_id" checked>
                <label>Loot Chests</label>
            <input type="checkbox" name="shopping" value="2" id="shopping_id">
                <label>Shopping Carts</label>
            <input type="checkbox" name="ammo" value="3" id="ammo_id">
                <label>Ammo</label>
            <input type="checkbox" name="machines" value="4" id="machines_id">
                <label>Vending Machines</label>
            </div>

        {% endif %}
    </div>
{% endblock %}