<head>
  <title>Media</title>
    <meta name="keywords" content="fortnite, media, fortnitego">
    <meta name="description" content="fortnite media">
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="hero hero-game" style="background-image: url('{{ banners.last.image.url }}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="hero-left">
          <h2 class="hero-title">{{ banners.last.title }}</h2>
          <p>{{ banners.last.description }}</p>
        </div>
      </div>
    </div>
  </section>

<section class="toolbar toolbar-links">
    <div class="container">
      <h5>Media <span>({{ medias|length }})</span></h5>
    </div>
</section>

<section>
    <div class="container">

      <div class="row row-3 figure-effect">
      {% if medias %}
          {% for media in medias  %}
                {% if media.image %}
                    <div class="col-12 col-sm-6 col-md-4">
                      <figure>
                        <div class="figure-img">
                          <a href="{{ media.image.url }}" data-lightbox='{"disqus": true, "gallery": "media_images", "title": "{{ media.title }}", "obtained": "{{ media.obtained }}", "type": "{{ media.type }}", "rarity": "{{ media.rarity }}", "image": "true"}'>
                          <img src="{{ media.image.url }}" alt="" style="width:  350px; height: 200px">
                        </a>
                        </div>
                      </figure>
                    </div>
                  {% elif media.video %}
                    <div class="col-12 col-sm-6 col-md-4">
                      <figure>
                        <div class="figure-img">
                            <a href="{{ media.video.url }}" data-lightbox='{"disqus": true, "gallery": "media_images", "title": "{{ media.title }}", "obtained": "{{ media.obtained }}", "type": "{{ media.type }}", "rarity": "{{ media.rarity }}"}'>
                                <video width="400" height="200px" controls muted>
                                  <source src="{{ media.video.url }}" type="video/mp4" data-lightbox='{"disqus": true, "gallery": "media_images", "title": "{{ media.title }}", "obtained": "{{ media.obtained }}", "type": "{{ media.type }}", "rarity": "{{ media.rarity }}", "video": "true"}'>
                                </video>
                            </a>
                        </div>
                      </figure>
                    </div>
                  {% endif %}
            {% endfor %}
          {% else %}
                <h4>Currently No Item found</h4>
      {% endif %}
      </div>
    </div>
</section>
{% endblock %}
{% block js %}
    <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/lightbox/lightbox.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // lightbox
      $('[data-lightbox]').lightbox({
        disqus: 'gameforestyakuzieu'
      });
    })(jQuery);

  </script>

     <!-- plugins js -->
  <script src="{% static 'plugins/owl-carousel/js/owl.carousel.min.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // owl carousel
      $('.owl-posts').owlCarousel({
        margin: 5,
        loop: false,
        dots: false,
        autoplay: true,
        responsive: {
          0: {
            items: 1
          },
          1024: {
            items: 1,
            center: false
          },
          1200: {
            items: 2,
            center: true
          }
        }
      });

      $('.owl-videos').owlCarousel({
        margin: 15,
        loop: false,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          700: {
            items: 2
          },
          800: {
            items: 3
          },
          1000: {
            items: 4
          },
          1200: {
            items: 6
          }
        }
      });
    })(jQuery);
  </script>


  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>
{% endblock %}