{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
    {% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/animate/animate.min.css' %}">
        <!-- plugins css -->
        <link href="{% static 'plugins/owl-carousel/css/owl.carousel.min.css' %}" rel="stylesheet">
        <!-- theme css -->
        <link rel="stylesheet" href="{% static '/css/theme.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

    {% endblock %}

</head>
{% block content %}
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo logo-custom"><img src="{% static 'img/logo.png' %}" class="fortnite-logo-custom" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/weapons">Weapons</a></li>
                  <li><a href="/blog">Updates</a></li>
                  <li><a href="/cosmetics">Cosmetics</a></li>
                  <li><a href="/map">Map</a></li>
                  <li><a href="/media">Media</a></li>
                  <li><a href="/app">App</a></li>
                  <li><a href="/items">Items</a></li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

<section class="main-section-stats">
    <div class="custom-table-style">
    <h3 class="statis-heading">Life Time Stats</h3>
        <ul>
            <li>
                <h5>Score</h5>
                <p>{{ data.totals.score }}</p>
            </li>
            <li>
                <h5>Minutes Played</h5>
                <p>{{ data.totals.minutesplayed }}</p>
            </li>
            <li>
                <h5>Kills</h5>
                <p>{{ data.totals.kills }}</p>
            </li>
            <li>
                <h5>K/d</h5>
                <p>{{ data.totals.kd }}</p>
            </li>
            <li>
                <h5>Last update</h5>
                <p>{{ data.totals.lastupdate }}</p>
            </li>
            <li>
                <h5>Wins</h5>
                <p>{{ data.totals.wins }}</p>
            </li>
            <li>
                <h5>Winrate</h5>
                <p>{{ data.totals.winrate }}</p>
            </li>
            <li>
                <h5>Hours Played</h5>
                <p>{{ data.totals.hoursplayed }}</p>
            </li>
            <li>
                <h5>Matches Played</h5>
                <p>{{ data.totals.matchesplayed }}</p>
            </li>
        </ul>

    </div>

    <div class="custom-table-style">
        <div class="row pricing">
            <div class="col-md-4">
                <div>
                    <h3 class="solo_heading_bg"><b>SOLOS</b></h3>
                    <div class="well user_stats_table">
                        <p class="new_table_title">Winrate</p>
                        <p class="new_table_description">{{ data.stats.winrate_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Kills</p>
                        <p class="new_table_description">{{ data.stats.kills_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Matches Played</p>
                        <p class="new_table_description">{{ data.stats.matchesplayed_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Score</p>
                        <p class="new_table_description">{{ data.stats.score_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">K/D</p>
                        <p class="new_table_description">{{ data.stats.kd_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Top 10</p>
                        <p class="new_table_description">{{ data.stats.placetop10_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Top 25</p>
                        <p class="new_table_description">{{ data.stats.placetop25_solo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Minutes Played</p>
                        <p class="new_table_description">{{ data.stats.minutesplayed_solo }}</p>
                    </div>

                </div>
            </div>
             <div class="col-md-4">
                <div>
                    <h3 class="duos_heading_bg"><b>DUOS</b></h3>
                    <div class="well user_stats_table">
                        <p class="new_table_title">Winrate</p>
                        <p class="new_table_description">{{ data.stats.winrate_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Kills</p>
                        <p class="new_table_description">{{ data.stats.kills_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Matches Played</p>
                        <p class="new_table_description">{{ data.stats.matchesplayed_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Score</p>
                        <p class="new_table_description">{{ data.stats.score_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">K/D</p>
                        <p class="new_table_description">{{ data.stats.kd_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Top 5</p>
                        <p class="new_table_description">{{ data.stats.placetop5_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Top 12</p>
                        <p class="new_table_description">{{ data.stats.placetop12_duo }}</p>
                        <hr class="custom_hr">
                        <p class="new_table_title">Minutes Played</p>
                        <p class="new_table_description">{{ data.stats.minutesplayed_duo }}</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="squads_heading_bg"><b>SQUADS</b></h3>
                    <div class="well user_stats_table">
                    <p class="new_table_title">Winrate</p>
                    <p class="new_table_description">{{ data.stats.winrate_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Kills</p>
                    <p class="new_table_description">{{ data.stats.kills_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Matches Played</p>
                    <p class="new_table_description">{{ data.stats.matchesplayed_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Score</p>
                    <p class="new_table_description">{{ data.stats.score_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">K/D</p>
                    <p class="new_table_description">{{ data.stats.kd_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Top 3</p>
                    <p class="new_table_description">{{ data.stats.placetop3_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Top 6</p>
                    <p class="new_table_description">{{ data.stats.placetop6_squad }}</p>
                    <hr class="custom_hr">
                    <p class="new_table_title">Minutes Played</p>
                    <p class="new_table_description">{{ data.stats.minutesplayed_squad }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>




{#    <div class="custom-table-style recent-matches-custom">#}
{#    <h3 class="statis-heading">Recent Matches</h3>#}
{#        {% for index in data.recentMatches %}#}
{#        <ul>#}
{#            <li>#}
{#                <h5>Kills</h5>#}
{#                <p>{{ index.kills }}</p>#}
{#            </li>#}
{#                <li>#}
{#                <h5>Minutes Played</h5>#}
{#                <p>{{ index.minutesPlayed }}</p>#}
{#            </li>#}
{#                <li>#}
{#                <h5>Matches</h5>#}
{#                <p>{{ index.matches }}</p>#}
{#            </li>#}
{#                <li>#}
{#                <h5>Score</h5>#}
{#                <p>{{ index.score }}</p>#}
{#            </li>#}
{#        </ul>#}
{#        {% endfor %}#}
{#    </div>#}
</section>

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <!-- plugins js -->
   <script src="{% static 'plugins/lightbox/lightbox.js' %}"></script>
  <script src="plugins/owl-carousel/js/owl.carousel.min.js"></script>
  <script>
    (function($) {
      "use strict";

      // Full Width Carousel
      $('.owl-slide').owlCarousel({
        nav: true,
        loop: true,
        autoplay: true,
        items: 1
      });

      // Recent Reviews
      $('.owl-list').owlCarousel({
        margin: 25,
        nav: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          500: {
            items: 2
          },
          701: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });

      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="js/theme.min.js"></script>
</body>
</html>




{% endblock %}

