{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="hero hero-game" style="background-image: url('{{ weapon_banner.image.url }}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="hero-left">
          <h2 class="hero-title">{{ weapon_banner.title }}</h2>
          <p>{{ weapon_banner.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-30">
    <div class="container">

    <section class="toolbar toolbar-links">
          <ul class="toolbar-nav hidden-md-down m-r-25 nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">All</a></li>
                {% for category in weapon_categories %}
                    <li><a data-toggle="tab" href="#{{ category.category_name }}">{{ category.category_name }}</a></li>
                {% endfor %}
          </ul>
    </section>

     <div class="tab-content">
        <div id="home" class="tab-pane fade in active show">
          <h3>All</h3>

            <div class="row">
              {% if weapons %}
                  {%  for weapon in weapons %}
                      <div class="col-12 col-sm-6 col-md-4">
                          <div class="card card-lg">
                            <div class="card-img" style="border-left: 1px solid #E3E0E0; border-top: 1px solid #E3E0E0; border-right: 1px solid #E3E0E0;">
                              <a href="{% url 'fortniteApp:weapon_specifications' weapon_id=weapon.id %}">
                              <img src="{{ weapon.image.url }}" class="card-img-top" style="width:450px;height:225px;">
                            </a>
                            </div>
                            <div class="card-block">
                              <h4 class="card-title">
                                <a href="{% url 'fortniteApp:weapon_specifications' weapon_id=weapon.id %}">{{ weapon.title }}</a>
                              </h4>
                              <div class="card-meta">
                                <span>June 13, 2017</span>
                              </div>
                              <p class="card-text">{{ weapon.decsription }}</p>
                            </div>
                          </div>
                        </div>
                  {% endfor %}
                  {% else %}
                    <h4>No weapon found</h4>
              {% endif %}
          </div>

    </div>
  {% if weapon_categories %}
      {% for wc in weapon_categories %}
        <div id="{{ wc.category_name }}" class="tab-pane fade">
          <h3>{{ wc.category_name }}</h3>
          <div class="row">
            {% for foo in wc.weapons_category_related_name.all %}
                  <div class="col-12 col-sm-6 col-md-4">
                  <div class="card card-lg">
                    <div class="card-img" style="border-left: 1px solid #E3E0E0; border-top: 1px solid #E3E0E0; border-right: 1px solid #E3E0E0;">
                      <a href="{% url 'fortniteApp:weapon_specifications' weapon_id=foo.id %}">
                      <img src="{{ foo.image.url }}" class="card-img-top" style="width:450px;height:225px;">
                    </a>
                    </div>
                    <div class="card-block">
                      <h4 class="card-title">
                        <a href="{% url 'fortniteApp:weapon_specifications' weapon_id=foo.id %}">{{ wc.title }}</a>
                      </h4>
                      <div class="card-meta">
                        <span>June 13, 2017</span>
                      </div>
                      <p class="card-text">{{ foo.decsription }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>
     {% endfor %}
     {% endif %}
  </div>

    </div>
  </section>
{% endblock %}
{% block js %}
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'plugins/popper/popper.min.js'%}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/easypiechart/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // easyPieChart
      $('.chart').easyPieChart({
        barColor: '#5eb404',
        trackColor: '#e3e3e3',
        easing: 'easeOutBounce',
        onStep: function(from, to, percent) {
          $(this.el).find('span').text(Math.round(percent));
        }
      });
      $('.search-game, .navbar-search .form-control').keyup(function() {
        var search = $(this).val().toLowerCase();
        $.each($('.card-title'), function() {
          if ($(this).text().toLowerCase().indexOf(search) === -1) {
            $(this).parent().parent().parent().hide();
          } else {
            $(this).parent().parent().parent().show();
          }
        });
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>

{% endblock %}