{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="hero hero-game" style="background-image: url('{% static 'img/hero/hero.jpg'%}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="hero-left">
          <h2 class="hero-title">The Witcher 3: Wild Hunt</h2>
          <p>The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-30">
    <div class="container">
      <div class="toolbar-custom">
        <div class="btn-group float-right m-l-5 hidden-sm-down" role="group">
          <a class="btn btn-default btn-icon" href="#" role="button"><i class="fa fa-th-large"></i></a>
          <a class="btn btn-default btn-icon" href="#" role="button"><i class="fa fa-bars"></i></a>
        </div>
      </div>

      <div class="row">
          {% if weapons %}
              {%  for weapon in weapons %}
                  <div class="col-12 col-sm-6 col-md-4">
                      <div class="card card-lg">
                        <div class="card-img">
                          <a href="game-post.html">
                          <img src="{{ weapon.image.url }}" class="card-img-top">
                        </a>
                        </div>
                        <div class="card-block">
                          <h4 class="card-title">
                            <a href="game-post.html">{{ weapon.title }}</a>
                          </h4>
                          <div class="card-meta">
                            <span>June 13, 2017</span>
                          </div>
                          <p class="card-text">{{ weapon.decsription }}</p>
                        </div>
                      </div>
                    </div>
              {% endfor %}
              {% else %}
                <h4>No weapon found</h4>
          {% endif %}


      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <!-- vendor js -->
  <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js'%}"></script>
  <script src="{% static 'plugins/popper/popper.min.js'%}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>

  <!-- plugins js -->
  <script src="{% static 'plugins/easypiechart/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
  <script>
    (function($) {
      "use strict";
      // easyPieChart
      $('.chart').easyPieChart({
        barColor: '#5eb404',
        trackColor: '#e3e3e3',
        easing: 'easeOutBounce',
        onStep: function(from, to, percent) {
          $(this.el).find('span').text(Math.round(percent));
        }
      });
      $('.search-game, .navbar-search .form-control').keyup(function() {
        var search = $(this).val().toLowerCase();
        $.each($('.card-title'), function() {
          if ($(this).text().toLowerCase().indexOf(search) === -1) {
            $(this).parent().parent().parent().hide();
          } else {
            $(this).parent().parent().parent().show();
          }
        });
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static 'js/theme.min.js' %}"></script>

{% endblock %}