{% load i18n %}
{% load zinnia %}
<div class="blog_detail_custom">
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="post post-single">
                <article id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %}" itemscope itemtype="http://schema.org/Article">
                  {% block entry-header %}
                  <h2 class="post-title">{{ object.title|widont }}</h2>
                  <div class="post-meta">
                  <span>
                      {% trans "Last update on" %} <time class="updated" datetime="{{ object.last_update|date:"c" }}" itemprop="dateModified">{{ object.last_update|date:"DATE_FORMAT" }}</time>
                      </span>
                  </div>
                  {% endblock entry-header %}

                  {% block entry-body %}
                  <div class="entry-body">
                    {% block entry-image %}
                    {% if object.image %}
                    <div class="entry-image">
                    <div class="post-thumbnail">
                        <img src="{{ object.image.url }}" alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl" />
                    </div>
                        {% if continue_reading %}
                      </a>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endblock entry-image %}

                    {% block entry-content %}
                    <div class="entry-content custom_entry_content" itemprop="articleBody">
                      {{ object_content|safe }}
                    </div>
                    {% endblock entry-content %}


                  </div>
                  {% endblock entry-body %}
                </article>
                </div>
            </div>
        </div>
    </div>
    </section>
<div class="blog_comment_custom_set">
    <section class="p-t-30 weapon_specs_custom_set">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 customeee">
            <div id="disqus_thread"></div>
                <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://fortnitego-com.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
            </div>
          </div>
        </div>
    </section>
</div>
</div>